<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Homepage</title>
</head>
<body>
  <%- include('./partials/nav') %> 

  <div class="container mt-5">
    <% if (blogs.length === 0) { %>
      <p>No blogs posted yet.</p>
    <% } else { %>
      <div class="row">
        <% blogs.forEach(blog => { %> 
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="<%= blog.coverimageUrl %>" class="card-img-top" alt="Blog Image" onerror="this.src='/default.png'">

              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.body.substring(0, 100) %>...</p>
                <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>
  </div>

  <%- include('./partials/script') %>
</body>
</html>
